<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyC0bBuOpMkjzqDJhrL0Eoa1isVQ0MtHZ-c</string>
	<key>ELEVENLABS_API_KEY</key>
	<string>sk_1bc131c7c06dc5efd2a80a627bd3b95bbf3f406f056a50d7</string>
</dict>
</plist>
